{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="roberto-about-us-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="{{ about_us.image.url }}" alt>
                    </div>
                </div>
                <div class="col-12 col-lg-6">

                    <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                        <h6>Testimonials</h6>
                        <h2>{{ about_us.title }}</h2>
                    </div>
                    <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <p>{{ about_us.content }}</p>
                        <img src="{% static 'img/core-img/signature.png' %}" alt>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="roberto--video--area bg-img bg-overlay jarallax section-padding-0-100"
         style="background-image: url({% static 'img/bg-img/20.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-6">

                    <div class="section-heading text-center white wow fadeInUp" data-wow-delay="100ms">
                        <h6>Ultimate Solutions</h6>
                        <h2>Our Hotel &amp; Room</h2>
                    </div>
                    <div class="video-content-area mt-100 wow fadeInUp" data-wow-delay="500ms">
                        <a href="https://www.youtube.com/watch?v=Ldd8yjjo6jA" class="video-play-btn"><i
                                class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="roberto-service-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h6>Our blog</h6>
                        <h2>Latest News & Event</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog_new_post in blog_new_posts %}

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                            <a href="{% url 'blog:single-blog' %}"><img src="{{ blog_new_post.image.url }}" alt></a>
                            <div class="service-title d-flex align-items-center justify-content-center">
                                <a href="{% url 'blog:single-blog' %}"><h5>{{ blog_new_post.title|slice:29 }}</h5></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>



{% endblock %}
