{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% load Me_contact %}
    {% me_contact as me_contact %}


    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">{{ blog.title }}</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar"
                                                                 aria-hidden="true"></i> {{ blog.created_date|date:'b d Y' }}
                                </a>
                                <a href="#" class="post-author"><i class="fa fa-user"
                                                                   aria-hidden="true"></i> {{ blog.author }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{% static 'img/bg-img/39.jpg' %}" alt>
                    </div>

                    <div class="blog-details-text">
                        {% for content in blog.contents.all %}
                            {% if content.is_quote %}
                                <blockquote class="roberto-blockquote d-flex">
                                    <div class="icon">
                                        <img src="{% static 'img/core-img/quote.png' %}" alt>
                                    </div>
                                    <div class="text">
                                        <h5>{{ content.content }}</h5>
                                    </div>
                                </blockquote>
                            {% else %}
                                <p>{{ content.content }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for tag in blog.tags.all %}
                                <li><a href="{% url 'blog:blog' %}?tag={{ tag }}">{{ tag }},</a></li>
                            {% endfor %}
                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="{{ me_contact.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="{{ me_contact.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="{{ me_contact.instagram }}"><i class="fa fa-google-plus"
                                                                    aria-hidden="true"></i></a>
                            <a href="{{ me_contact.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="mailto:{{ me_contact.email }}"><i class="fa fa-envelope"
                                                                       aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix" id="comment-list">
                        <h2>{{ comments.count }} Comments</h2>
                        {% for comment in comments %}
                            <ol>
                                <li class="single_comment_area">

                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            <img src="{{ comment.image.url }}" alt="author">
                                        </div>

                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ comment.created_date|date:'d b, Y' }}</a>
                                            <h5>{{ comment.author }}</h5>
                                            <p>{{ comment.message }}</p>
                                            <a href="#" class="like">Like</a>
                                            <a href="?cid={{ comment.id }}#replay-form" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    {% if comment.blog_children %}
                                        <ol class="children">
                                            {% for child in comment.blog_children.all %}
                                                <li class="single_comment_area">
                                                    <div class="comment-content d-flex">
                                                        <div class="comment-author">
                                                            <img src="{{ child.image.url }}" alt="author">
                                                        </div>
                                                        <div class="comment-meta">
                                                            <a href="#"
                                                               class="post-date">{{ child.created_date|date:'d b, Y' }}</a>
                                                            <h5>{{ child.author }} ->
                                                                <code>{{ child.parent.author }}</code></h5>
                                                            <p>{{ child.message }}</p>
                                                            <a href="#" class="like">Like</a>
                                                            <a href="?cid={{ child.id }} #replay-form"
                                                               id="{{ child.id }}" class="reply">Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </li>
                            </ol>
                        {% endfor %}
                    </div>

                    <div class="roberto-contact-form mt-80 mb-100" id="replay-form">
                        <h2>Leave A Comment</h2>
                        {% if request.user.is_authenticated %}
                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ form.message }}
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                    	    <h3 style="color: #dc3545" class="text-center">You should login first!</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <div class="single-widget-area mb-100">
                            <div class="newsletter-form">
                                <h5>Newsletter</h5>
                                <p>Subscribe our newsletter gor get notification new updates.</p>
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" id="nlEmail" class="form-control"
                                           placeholder="Enter your email...">
                                    <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for blog in blogs %}
                                <div class="single-recent-post d-flex">

                                    <div class="post-thumb">
                                        <a href="{% url 'blog:single-blog' blog.slug %}"><img src="{{ blog.image.url }}"
                                                                                              alt></a>
                                    </div>

                                    <div class="post-content">

                                        <div class="post-meta">
                                            <a href="{% url 'blog:single-blog' blog.slug %}"
                                               class="post-author">{{ blog.created_date|date:'b d, Y' }}</a>
                                            <a href="{% url 'blog:single-blog' blog.slug %}"
                                               class="post-tutorial">{{ blog.author }}</a>
                                        </div>
                                        <a href="{% url 'blog:single-blog' blog.slug %}"
                                           class="post-title">{{ blog.title|slice:35 }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>

                            <ul class="popular-tags">
                                {% for tag in tags %}
                                    <li><a href="{% url 'blog:blog' %}?tag={{ tag }}">{{ tag }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>

                            <ul class="instagram-feeds">
                                <li><a href="#"><img src="{% static 'img/bg-img/33.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/34.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/35.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/36.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/37.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/38.jpg' %}" alt></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}