{% extends 'base.html' %}
{% load static %}



{% block content %}


    <div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/18.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center mt-100">
                        <h2 class="page-title">Changed Password </h2>
                        <h3><code>{{ request.user }}</code></h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Changed Password</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="row justify-content-md-center">
                        <div class="col-md-3 "></div>
                        <div class="col-md-6">
                            <div style="margin-top: 25px" class="mt-5 col-12 text-center  wow fadeInUp"
                                 data-wow-delay="100ms">
                                <h2>Password change successful</h2>
                            </div>
                            <div style="margin-top: 25px" class="mt-5 col-12 text-center  wow fadeInUp"
                                 data-wow-delay="100ms">
                                <span>Your password was changed. <a href="{% url 'main:home' %}">Home</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}