{% extends 'base.html' %}
{% load static %}



{% block content %}


    <div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/18.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center mt-100">
                        <h2 class="page-title">Login</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="roberto-contact-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row justify-content-md-center">
                                <div class="col-md-3 "></div>
                                <div class="col-md-6">
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                       {{ form.username }}
                                    </div>
                                    <div class="col-12 text-center  wow fadeInUp" data-wow-delay="100ms">
                                       {{ form.password }}
                                    </div>

                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                        <button type="submit" class="btn roberto-btn mt-15">Login</button>
                                    </div>
                                    <div style="margin-top: 25px" class="text-center wow fadeInUp">
                                        <p>If you don't have an account <a href="{% url 'contact:register' %}">register</a> first.</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}