{% extends 'base.html' %}
{% load static %}



{% block content %}


    <div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/18.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center mt-100">
                        <h2 class="page-title">Logout ({{ request.user }})</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Logout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row d-flex justify-content-center">
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                <h2 style="color: #dc3545">Are you sure you want to log out?</h2>
                            </div>
                            <div class="col-12 text-center wow fadeInUp " data-wow-delay="100ms">
                                <a href="{% url 'main:home' %}" class="btn roberto-btn1 mt-15">No thanks</a>
                                <button type="submit" class="btn roberto-btn mt-15">Yes, I want to</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}