{% load static %}


<section class="roberto-cta-area">
    <div class="container">
        <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/1.jpg' %});">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <div class="cta-text mb-50">
                        <h2>Contact us now!</h2>
                        <h6>Contact (+12) 345-678-9999 to book directly or for advice</h6>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-right">
                    <a href="#" class="btn roberto-btn mb-50">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp"
                     data-wow-delay="300ms">

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p1.png' %}" alt></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p2.png' %}" alt></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p3.png' %}" alt></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p4.png' %}" alt></a>

                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p5.png' %}" alt></a>
                </div>
            </div>
        </div>
    </div>
</div>